# Ignore directories named 'data', 'logs', or 'models' at any level
**/data/
**/logs/
**/models/

# Ignore files named 'manage.py', 'myconfig.py', or 'calibrate.py' at any level
**/manage.py
**/calibrate.py
**/train.py