# Ignore directories named 'data', 'logs', or 'models' at any level
**/data/
**/logs/
**/models/
**/model/

# Ignore files named 'manage.py', or 'calibrate.py' at any level
**/manage.py
**/calibrate.py
**/train.py
**/config.py

# Ouput files
**/*/.png
**/*/.tflite
**/*/.mp4
